<p id="info"><%= notice %></p>

<h1>Pins</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= link_to 'Pokaź', pin %></td>
        <% if pin.user == current_user %>
        <td><%= link_to 'Edycja', edit_pin_path(pin) %></td>
        <td><%= link_to 'Usuń', pin, method: :delete, data: { confirm: 'Bankowo?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy wpis', new_pin_path %>
